<!DOCTYPE html>
<html>
<head>
    <title>Flask Play</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Flask Play</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/tab1">Tab 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tab2">Tab 2</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Home</h1>
        {% if counter > 1 %}
            <p>Welcome back! This page has been visited {{ counter }} times.</p>    
        {% else %}
            <p>Welcome! This is your first visit to this page </p>
        {% endif %}
        <hr/>
        <p>All pages have been visited {{ total }} times.</p>
    </div>
    <div class="container">
        <button id="reset-button">Reset Counters</button>
    </div>
</body>
</html>

<script>
    document.getElementById('reset-button').addEventListener('click', function() {
        fetch('/api/counters/reset', { method: 'POST' })
            .then(function(response) {
                if (response.ok) {
                    //alert('Counters reset successfully');
                    location.reload();
                } else {
                    alert('Failed to reset counters');
                }
            })
            .catch(function(error) {
                alert('Failed to reset counters: ' + error.message);
            });
    });
</script>